<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Travel App</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
     <!----  <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->      
    </head>

    <body>
        <div id="trip-app">
          <div class="holder header">
            <h1>Travel App</h1>
          </div>
      
          <div class="trip-form">
            <div class="form-container">
              <form method="post" id="weather-form" class="form-weather">
                <div class="form-entry">
                    <label for="destination">My trip to:</label>
                    <input  required type="text" id="destination" placeholder="Enter Location">
                </div>
                <div class="form-date">
                    <label for="start-date">Departing:</label>
                    <input required type="date" id="start-date" placeholder="DD/MM/YYYY">
                </div>
                <div class="form-date">
                  <label for="end-date">Returning:</label>
                  <input required type="date" id="end-date" placeholder="DD/MM/YYYY">
              </div>
                <button type="submit" class="form-button">
                    Submit
                </button>
              </form>
                <div id="form-info" style="visibility: hidden;">
                    <h1 class="title">Trip Forecast</h1>
                    <div id="location"></div>
                    <div id="departing"></div>
                    <div id="returning"></div>
                    <div id="days"></div>   
                    <div id="icon"></div>           
                    <div id="highTemp"></div>
                    <div id="lowTemp"></div>
                    <div id="destination-img"></div>
                   <!-- <p>My Trip to: <span id="location"></span> </p>  -->
                    <!-- <p>Departing: <span id="departing"></span></p>
                    <p>Returning: <span id="returning"></span></p>
                    <div><span id="location"></span>Your trip would be for <span id="days"></span> day</div>
                    <div>The weather forcast for today will be: <span id="weather"> </span></div>
                    <br />
                    <img id="destination-img" src="" alt="destination city"> -->
                </div>
        </div>
          <footer>
            <h1>Travel App - Udacity 2021</h1>
          </footer>
       
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
           </script>

    </body>
</html>
